@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../.flowbite-react/class-list.json';
@plugin 'tailwind-scrollbar';

@font-face {
  font-family: 'formula1';
  font-weight: bold;
  src: url('/fonts/Formula1-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'formula1';
  src: url('/fonts/Formula1-Regular.otf') format('opentype');
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  --font-formula1: 'formula1', sans-serif;

  --color-background: #0e1015;
  --color-background-light: #1a1d23;
  --color-accent: #e10700;
  --color-accent-hover: #c10700;

  --color-btn-primary: #262931;
  --color-btn-primary-hover: #2d3039;

  --breakpoint-xs: 400px;
}

html {
  color: white;
}
